<style>
     .projects-table{
          border: 1px solid var(--light-grey);
          padding:20px;
          border-radius: 10px;
          width: 10%;
     }
     .projects-table  tr{
          border-bottom: 1px solid var(--light-grey);
     }
</style>

<section>
     <h1 class="header">Projects</h1>
  <table class="projects-table content">
    <thead>
      <tr>
        <th>Java</th>
        <th>Javascript</th>
        <th>Python</th>
        <th>Kotlin</th>
        <th>C++</th>
        <th>C</th>
        <th>Swift</th>
        <th>Rust</th>
        <th>React</th>
        <th>VueJs</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="project">
          <h4>React Clone</h4>
          <p>Simple React Clone using Rust</p>
        </th>
        <th>
          <a href="#">More info</a>
        </th>
      </tr>
    </tbody>
  </table>
</section>

<script></script>
