:root {
  --dark-grey: #2c3e50;
  --light-grey: #95a5a6;
  --primary: #2ecc71;
  --white: #ecf0f1;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway";
  background-color: var(--white);
}

section {
  width: 100%;
  height: 100vh;
}

.content {
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

ul {
  list-style: none;
}

.header {
  color: var(--dark-grey);
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 15px;
}
